<h1>New book</h1>
<%= form_with model:@book, local:true do |f| %>
 <p>Title</p>
 <%= f.text_field :title %>

 <p>Opinion</p>
 <%= f.text_area :opinion %>
 <p><%= f.submit 'Create Book' %></p>

<% end %>

<h1>Books</h1>
<% @user.books.each do |book| %>
 <%= link_to book.title, book_path(book.id) %>
 <%= book.opinion %>
<% end %>