<h1>New book</h1>
<%= form_with model:@book, local:true do |f| %>
 <p>Title</p>
 <%= f.text_field :title %>

 <p>Opinion</p>
 <%= f.text_area :opinion %>
 <p><%= f.submit 'Create Book' %></p>

<% end %>

<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <p>投稿ユーザー画像</p>
  <p><%= book.user.name %></p>
  <%= link_to book.title, book_path(book.id) %>
  <p><%= book.opinion %></p>
</div>
<% end %>