<h1>New book</h1>
<%= form_with model:@book, local:true do |f| %>
 <p>Title</p>
 <%= f.text_field :title %>

 <p>Opinion</p>
 <%= f.text_area :opinion %>
 <p><%= f.submit 'Create Book' %></p>

<% end %>

<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %>
  <p><%= book.user.name %></p>
  <%= link_to book.title, book_path(book.id) %>
  <p><%= book.opinion %></p>
</div>
<% end %>