<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-3">
   <%= render 'users/info_b', books: @books %>
   <%= render 'users/new_book', users: @users %>
  </div>
  <div class="col-md-8 offset-md-1">
   <h2>Book detail</h2>
   <table class="table">
     <tr>
       <% if @book_detail.user == current_user %>
         <td>
           <%=  attachment_image_tag @book_detail.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: '40x40' %></br>
           <%= link_to @book_detail.user.name, mypage_path(@book_detail.user) %>
         </td>
         <td><%= @book_detail.title %></td>
         <td><%= @book_detail.body %></td>
         <td><%= link_to "Edit", edit_book_path(@book_detail), class: "btn btn-success btn-sm" %></td>
         <td><%= link_to "Destroy", book_path(@book_detail), method: :delete, data: { confirm: '本当に消しますか?' }, class: "btn btn-danger btn-sm" %></th>
       <% else %>
         <td>
           <%= attachment_image_tag @book_detail.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %></br>
           <%= link_to @book_detail.user.name, mypage_path(@book_detail.user) %>
         </td>
         <td><%= @book_detail.title %></td>
         <td><%= @book_detail.body %></td>
       <% end %>
     </tr>
   </table>
  </div>
 </div>
</div>