<h1>New book</h1>
<%= form_with model:@book, local:true do |f| %>
 <p>Title</p>
 <%= f.text_field :title %>

 <p>Opinion</p>
 <%= f.text_area :opinion %>
 <p><%= f.submit 'Create Book' %></p>

<% end %>

<h1>Book detail</h1>
<div>
  <p><%= @book_detail.user.name %></p>
  <p><%= @book_detail.title %></p>
  <p><%= @book_detail.opinion %></p>
  <% if @book_detail.user == current_user %>
   <%= link_to "Edit", edit_book_path(@book_detail) %>
   <%= link_to "Destroy", book_path(@book_detail), method: :delete %>
  <% end %>
</div>